*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 27px;
    background-color: #e3e6f3; 
    border-radius: 5px;
    
}

.logo img{
    margin-left: 50px;
    margin-top: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-right: 100px;
    position: relative;
}

nav ul li a{
    padding: 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

 
nav ul li a:hover{
    color: #088178;
    transition: 1s;
}

 









.SPAN{
    color: teal;
    border-bottom:2px solid teal;
    padding-bottom: 5px;
  
    
}




 .wll:hover{
    color: teal;
    border-bottom:2px solid teal;
    padding-bottom: 5px;
 }


 


 .wlll{
    margin-top: 33px;
    margin-right: 140px;
}

.wlll:hover{
    border-bottom:2px solid teal;
    padding-bottom: 5px;
}




/* -------------------------------end headerr---------------------------- */


/* --------------------------start about hero ----------------------------- */


.Hero-about {
    background-image: url(images/about/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
}


.text-about-hero h1{
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: monospace;
    padding-top: 100px;
}



.text-about-hero p{
    text-align: center;
    color: #ddd;
    font-size: 20px;
    font-family: monospace;
    padding-top: 10px;
}



/* ------------------------end about hero section------ -------------------- */



/*------------------------- start next hero section -------------------------- */

.next-hero-section{
    display: flex;
}


.image-h img{
    width: 600px;
    height: 470px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 30px;
}



.text-next-hero-section h1{
    padding-top: 100px;
    padding-left: 40px;
    font-size: 45px;
    font-family: sans-serif;
}


.text-next-hero-section p{
    padding-top: 10px;
    padding-left: 40px;
    font-size:20px;
    font-family: sans-serif;
    color: #908989;
    line-height: 25px;
}


.text-next-hero-section abbr {
    margin-top: 40px;
}

.text-download h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 50px;
}


.vedio{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

.vedio video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 150px;
}


/* --------------------------end vedios ------------------------------ */





/* --------------------------start some featured ------------------------- */

.container-featured{
    display: flex;
    justify-content: space-between;
}  

.color-1{
    width: 210px;
    height: 250px;
    margin-left: 60px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
}

.color-1:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}


/* --------- some featured-one---  */
.featured-one img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-one h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #fddde4;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}






/* ------------- some featured two ------------ */



.color-2{
    width: 210px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
   
}

.color-2:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}
.featured-two img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-two h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #cdebbc;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}













/* ------------- some featured three ------------ */



.color-3{
    width: 210px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
 
}

.color-3:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}
.featured-three img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-three h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #d1e8f2;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}








/* ------------- some featured four ------------ */



.color-4{
    width: 210px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
 
}

.color-4:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}
.featured-four img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-four h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #cdd4f8;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}










/* ------------- some featured five ------------ */



.color-5{
    width: 210px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
 
}

.color-5:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}
.featured-five img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-five h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #f6dbf5;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}






/* ------------- some featured three ------------ */



.color-6{
    width: 210px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin-right: 40px;
}

.color-6:hover{
    box-shadow: 10px 10px 54px rgb( 70, 62, 221, 0.1);
}
.featured-six img{
    margin-left: 25px;
    margin-top: 40px;
}


.featured-six h2{
    text-align: center;
     margin-top: 20px;
     margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #088178;
    background-color: #fff2e5;
    width: 140px;
    height: 40px;
    border-radius:5px;
    padding-top: 5px;
    font-size: 20px;
    
}


/* ---------------------------end some featured -------------------------- */




.container-sing-up{
    display: flex;
    justify-content: space-between;
    background-color: #041e42;
    margin-top: 50px;
    padding-bottom: 70px;
}


 /* ---------------------------start sign up --------------------------- */


 /* text-sing-up */
 .text-sing-up h2{
    color: white;
    padding-top: 60px;
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 60px;
 }



 .text-sing-up p{
    color: white;
    padding-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 60px;
    color: #818ea0;
 }

 .text-sing-up p span{
    color: #ffbb27;
 }

 


 .btns-sign{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 50px;
 }
 /* buttton-sign-up */

 .input input {
    margin-top: 40px;
 
}


.input input{
    width: 300px;
    height: 45px;
    border: transparent;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
}



.btn-sign button{
    width: 100px;
    height: 45px;
    border: transparent;
    outline: none;
    border-radius:2px;
    background-color: #088178;
    color: white;
    margin-top: 40px;
    font-size: 15px;
}


/*------------------------------ end sign up -------------------------- */




/* -------------------------start footer --------------------------- */
.footer{
    display: flex;
    justify-content: space-between;
}


.img-f img{
    margin-left: 130px;
    margin-top: 100px;
}


.img-f h1{
    margin-left: 130px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container-t{
    display: flex;
    margin-left: 130px;
    margin-top: 10px;
}


 .H33 {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.8;
 }

 .PP{
    font-size: 17px;
    margin-left: 5px;
    opacity: 0.7;
 }

 .PP:hover{
    cursor: pointer;
 }




 /*---------- start abouts-------------  */


 .abouts h1{
    margin-right:  ;
    margin-top: 105px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 
 .abouts p{
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.7;
 }
 .abouts p:hover{
    cursor: pointer;
 }


 /* -----------start acount--------  */
 

 .acount h1{
     
    margin-top: 105px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


 .acount p{
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.7;
 }


 .acount p:hover{
    cursor: pointer;
 }

  /* start install  */


  .install h1{
    margin-right: 300px;
    margin-top: 105px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  
 .install p{
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.7;
 }

 .install p:hover{
    cursor: pointer;
 }
 .conainer-app{
    display: flex;
    margin-top: 30px;
 }


 .apple img{
    border: 1.60px solid teal;
    border-radius: 5px;
 }


 .google img{
    border: 1.60px solid teal;
    border-radius: 5px;
    margin-left: 5px;
 }




 .security img{
    margin-top: 30px;
 }

 /* --------start sub footer ----------- */


 .sub p{
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    padding-bottom: 70px;
    opacity: 0.7;
 }


 /*------------------------------- end foooter ------------------------------- */